@model Idea.Models.NIdea

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_layout_Admin.cshtml";
    var Comments = (List<Comment>)ViewData["Comments"];
}

@*<h1>Details</h1>

<div>
    <h4>NIdea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brief)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brief)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>

@if (Model.Submission.Deadline_2 >= DateTime.Now)
{
    <form class="input-group mb-3" asp-action="Comment">
        <input type="hidden" name="IdeaId" value="@Model.Id" />
        <input type="text" class="form-control" placeholder="Comment" name="Content">
        <button class="btn btn-outline-success" type="submit">Comment</button>
    </form>
}

@foreach (var comment in Comments)
{
    <hr />
    <div>(@comment.Created_Date) - @comment.Content</div>
}

<hr />

<div>
    <a asp-action="ViewIdeas" asp-route-submissionid="@Model.SubmissionId">Back to List</a>
</div>*@


<div class="content-wrapper">
    <div class="card-header">
        <h3 class="card-title">Details NIdea</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brief)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brief)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.View)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.View)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Submission)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Submission.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
        </dl>

        @if (Model.Submission.Deadline_2 >= DateTime.Now)
        {
            <form class="input-group mb-3" asp-action="Comment">
                <input type="hidden" name="IdeaId" value="@Model.Id" />
                <input type="text" class="form-control" placeholder="Comment" name="Content">
                <button class="btn btn-outline-success" type="submit">Comment</button>
            </form>
        }

@*        <form asp-action="Delete">
            <a asp-action="Edit" asp-route-id="@Model.Id" style="color:white" class="btn btn-warning" placeholder="Edit">Edit</a>
            <a asp-action="Index" class="btn btn-primary">Back to list</a>
        </form>*@
        @foreach (var comment in Comments)
        {
            <hr />
            <div>(@comment.Created_Date) - @comment.Content</div>
        }

        <hr />

        <div>
            <a class="btn btn-primary ml-2" asp-action="ViewIdeas" asp-route-submissionid="@Model.SubmissionId">Back to List</a>
        </div>
    </div>
</div>